:root {
	/* Primary */
	--Very_dark_desaturated_blue: hsl(238, 29%, 16%);
	--Soft_red: hsl(14, 88%, 65%);

	/* Gradient
    background gradients;
  */
	--Soft_violet: hsl(273, 75%, 66%);
	--Soft_blue: hsl(240, 73%, 65%);

	/* Text */
	--Very_dark_grayish_blue: hsl(237, 12%, 33%);
	--Dark_grayish_blue: hsl(240, 6%, 50%);

	/* Divider */
	--Light_grayish_blue: hsl(240, 5%, 91%);

	/* weight */
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	user-select: none;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 12px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	padding: 1rem;
	background: linear-gradient(var(--Soft_violet), var(--Soft_blue));
}

.card {
	width: 100%;
	max-width: 500px;
	background-color: white;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	/* justify-content: center; */
	/* overflow: hidden; */
	padding: 2rem;
	margin-bottom: 2rem;
}

.card__img {
	position: relative;
	/* bottom: 10rem; */
	/* width: 500px; */
}

.img {
	width: 100%;
}

.bg-pattern {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.card__content {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	/* justify-content: space-between; */
	/* min-height: 300px; */
}

.questions {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.question {
	font-weight: var(--font-weight-regular);
	position: relative;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--Light_grayish_blue);
	max-width: 350px;
}

.question__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	cursor: pointer;
	width: 100%;
	position: relative;
}

.question__title--active {
	font-size: 13px;
	font-weight: var(--font-weight-bold);
}

.question__icon {
	transition: transform 0.2s ease-in-out;
	top: 50%;
	right: 0;
}

.question__icon--rotate {
	transform: rotate(180deg);
}

.question__answer {
	margin-top: 0.5rem;
	color: var(--Dark_grayish_blue);
}

.question__answer--hidden {
	display: none;
}

/* 
@media screen and (min-width: 768px) {
  
} */

/* #region Attribution*/
.attribution {
	color: white;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: black;
}
/* #endregion */
